.internal{
	.hero{
		min-height: 20em;

		span{
			display: block;
			margin: .5em 0 0 0;
		}
	}
}

.hero{
	position: relative;
	background-image: url('../images/home/bogota-bw.jpg');
	background-size: cover;
	background-position: center;
	min-height: 25em;
	width: 100%;

	.slide-gr { 
		width: 100%;
		position: absolute;
		bottom: 1em;
	}

	.main-group{
		width: 60%;
		display: block;

		h1, h2 {
			display: inline;
		}

		h1{
			font-size: 2.3em;
			font-weight: 700;
		}

		h2{
			font-family: @main-font-family;
			font-weight: 300;
			font-size: 2.2em;
			margin-left: .5em;
		}
	}

	.view-more-info{
		display: block;
		margin: .5em 0;
	}
}

.lawyers{

	.page-wrapper{
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.lawyer {
		height: 30em;
		position: relative;

		&.diana{
			background-image:url('../images/home/diana-bw.jpg');
			background-position:0 bottom;
			background-size: contain;
			background-repeat: no-repeat;
		}

		.about{
			width: 55%;
			position: absolute;
			right: 0;
			bottom: 30%;

			p{
				margin-bottom: .5em;
			}
		}
	}
}


@media screen and (max-width: 690px) {

	.hero{
		font-size: 80%;
		.main-group{
			width: 100%;
		}
	}
}