.hero{

	background-image: url('../images/home/bogota-bw.jpg');
	background-size: cover;
	background-position: center;
	min-height: 25em;

	.main-group{
		h1, h2 {
			display: inline;
		}

		h2{
			font-family: @main-font-family;
			font-weight: 300;
		}
	}
}