.services{
	background: @services-background-color;
	padding: 1em 0;
	color:@services-font-color;

	.page-group{
		h2 {
			color:@services-font-color;
		}
		h3 {
			color:@interior-font-color;
			font-family: @main-font-family;
			font-weight: 300;
		}
	}

	h4{
		color:@services-font-color;
	}


	p{
		color: @interior-font-color;
	}

	.services{
		li{
			margin: 1em 0 0;
		}
	}
}