.internal {
	.services{
		p{
			margin: 1.2em 0;
			font-size: 1.2em;
			line-height: 1.3em;
		}
		h2{
			font-size: 1.8em;
		}
		    
	}
}

.services{
	background: @services-background-color;
	padding: 1em 0;
	color:@services-font-color;

	.page-group{
		h2 {
			color:@services-font-color;
		}
		h3 {
			color:@interior-font-color;
			font-family: @main-font-family;
			font-weight: 300;
		}
	}

	h4{
		color:@services-font-color;
	}


	p{
		color: @interior-font-color;
	}

	.services{
		margin: 0;
		padding: 0;
		flex-flow: row wrap;
		justify-content: flex-start;
		display: flex;

		li{
			margin: 1em 0 0;
			width: 30%;

			span.icon{
				font-size: 4em;
				color: @link-color;
				margin: 0 auto .5em;
				display: block;
				text-align: center;
			}

			h4{
				font-size: 1.5em;
				margin: 0 0 .5em;
				color: @services-font-color;
			}

			a{
				color: @interior-font-color;
			}

			.list-of-items{
				margin: 1em 0 0 0;
				li{
					margin: 0;
					width: 100%;
				}
			}
		}
	}
}


@media screen and (max-width: 690px) {

	.services{
		.services{
			li{
				width: 100%;
			}

		}
	}
}