.site{
	position: relative;
}
.page-wrapper{
	position: relative;
	margin: 1em auto;
	max-width: 980px;
	min-width: 320px;
	padding: 1em;

	.page-group{

		h3 {
			color:@interior-font-color;
			font-family: @main-font-family;
			font-weight: 300;
		}
	}
}